* {
	width: 120px, 60%;
	padding: 3px;
	margin: 2px;
	background-color: #A9A9A9;
	color:#000000;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#Un {
border-width: 5px;
border-style: solid;
color: #00FFFF;
text-transform: capitalize;
font-weight: bold;

}

#Deux{
	border-width: 1px;
	text-align: right;
	color: #00FFFF;
	border-style: inset;
	
}

#Trois{
	width: 100px, 50%;
}

#Quizz{
	font-weight: bold;
	width: 150px;
	padding-top: 0px;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	background-color: #DCDCDC;

	


}
	

#Rens{
	font-weight: bold;
	border-style: solid;
	width: 150px;
	padding-top: 0px;
	border-radius: 20px;
	border-width: 3px;
	background-color: #DCDCDC;
	
	
}

#fin{
	font-weight: bold;
	border-style: solid;
	width: 150px;
	padding-top: 0px;
	background-position: right;
	position: right;
	border-radius: 20px;
	border-width: 3px;
	background-color: #DCDCDC;
	display: table;
	
}
