/*Pour toutes les pages, couleur de fond et de texte*/
*{
    background-color:  #C5C5C5;
    color: black;
}
body{
    width: 100%;
}

/*Pour le menu de toutes les pages*/
#menu{
    width: 200px;
    background-color: black ;
    margin-right: -30px;
    margin-left: -10px;
   
}

#menu ul{
    list-style:none;
    text-align: right;
    background-color: black;
    text-decoration: none;
}
#menu li{
    background-color:  black;
    text-decoration: none;
}

#menu a{
    background-color:  black;
    color:white;
    margin-right: 20px;
    text-decoration: none;
}

.imgpres{
    float: left;
    width: 100px;
    height: 100px;
}

#titre{
    background-color: black;
    color: white;
    text-align: center;
    font-size: xx-large;
}

#co{
    margin-top: -80px;
}


/*Pour les boutons*/
.bt{
    background-color: black;
    margin-top: 1%; 
    border-radius: 10px;
    list-style: none;
    padding:10px;
    float: right;
	text-align: center;
    margin-right: 20px;
    color: white;
}
	
/*Class pour la cohérence des menu*/
.projet{
	display: table;
    background-color:black;
    position: fixed;
    top:0px;
    width: 100%;
}

/*Index*/
#presentation{
    margin-top: 125px;
    border-style: outset;
    margin-left: 150px;
    margin-right: 150px;
    font-size: large;
    text-align: center;
    
}
#exemple{
    border-style: outset;
    margin-right: 1000px;
}


/*Pour les tableaux de données*/
table{
    background-color: darkgrey;
    margin-right: auto;
    margin-left: auto;
}

/*Pour les titres des pages de statistique*/
h1{
    margin-top: 100px;
    border-style: outset;
    margin-right: 900px;
    text-align: center;
}

/*Page index stat*/
.menustat{
    background-color:#bfc9ca;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: large;
    
}

.grandmenustat{
    background-color: #bfc9ca;
    margin-top: 300px;
    
}

nav a{
    background-color: black;
    color: white;
    border-radius: 10px;
    list-style: none;
    padding:10px;
    
}


/*Pour tous les liens */
a{
    text-decoration: none;
}




